@model (ArticleDetail ArticleDetail, ArticlePage ArticlePage)
@inject Nonce Nonce
@{
    this.ViewData["Title"] = "Edit Article Page";
    this.ViewData["Icon"] = "bi bi-filetype-html";
}

<partial name="_ArticleDetailFields" model="@this.Model.ArticleDetail"/>
<form method="post" asp-area="Articles" asp-controller="Page" asp-action="Update" asp-route-id="@this.Model.ArticlePage.ArticlePageId">
    <fieldset>
        <partial name="_PageFields" model="@this.Model.ArticlePage"/>
    </fieldset>
    <div class="mt-3 col text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Display" asp-controller="Home" asp-area="Articles" asp-route-id="@this.Model.ArticlePage.ArticleDetailId" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts
{
    <script src="~/lib/monaco-editor/min/vs/loader.min.js"></script>
    <script type="text/javascript" nonce="@this.Nonce.Value">
        applyMonacoEditor(
            "@nameof(this.Model.ArticlePage.PageBody)",
            "@nameof(this.Model.ArticlePage.PageBodyTextFormat)",
            "@this.Url.Content("~/lib/monaco-editor/")");
    </script>
}